<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinccVbsPassWordsLook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WinccVbsPassWordsLook.Properties.Settings>
            <setting name="技术支持" serializeAs="String">
                <value>QQ:925007694</value>
            </setting>
            <setting name="文件格式" serializeAs="String">
                <value>.bmo</value>
            </setting>
            <setting name="密钥70" serializeAs="String">
                <value>Black Door Mind: A v</value>
            </setting>
            <setting name="密钥73" serializeAs="String">
                <value>BakDo id  atoeno o n</value>
            </setting>
        </WinccVbsPassWordsLook.Properties.Settings>
    </applicationSettings>
</configuration>