<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogTxt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <LogTxt.Properties.Settings>
            <setting name="日志目录" serializeAs="String">
                <value>d:\运行信息\LogTxt</value>
            </setting>
            <setting name="文件前缀" serializeAs="String">
                <value>yyyy-MM-dd</value>
            </setting>
            <setting name="文件后缀" serializeAs="String">
                <value>.Log</value>
            </setting>
            <setting name="内容前缀" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss</value>
            </setting>
            <setting name="文件首行" serializeAs="String">
                <value>开始记录:</value>
            </setting>
        </LogTxt.Properties.Settings>
    </applicationSettings>
</configuration>